<body class=''>
  
    <header class="border-none sticky-top bg-white bg-inabve">
        <div class="container-fluid ">
            <div class="row">
            
            <div class="col-lg-6 offset-lg-3 col-md-6 offset-md-1  d-flex justify-content-between">
                <h3 class="text-white my-auto ms-4 fw-bold d-inline">
                    VENTANA DE ATENCIÓN AL CLIENTE
                </h3>
                <img src="../../../assets/images/logoSivetweb.jpeg" class="card-img-right float-end" alt="Logo Inabve" />
            </div>
            
            </div>
        </div>
    </header>
    <section>
        <div class="container-fluid" >
            <div class="row ">
                <!-- <div class="d-flex align-items-center">                 -->
                    <div class="col ps-0 py-3 d-flex align-items-center config-body"  style="height: 91vh; overflow-y:scroll;">
                        <div class="container py-2">
                        <div class="row">
                            <!-- <div class="col-md-4">
                                <a href="" class="text-decoration-none" target="_blank" rel="nofollow" (ngModel)="codigoArea">
                                <div class="card container-card-custom">
                                <img src="../../../assets/images/sicme-image.svg" class="card-img-top px-4-rem py-2 img-hover" alt="SICME">
                                <div class="card-body bg-inabve body-text-custom">
                                    <p class="card-text text-white text-center text-card-custom">SICME</p>
                                </div>
                                </div>
                            </a>
                            </div>
                            <div class="col-md-4">
                            <a href="" class="text-decoration-none" target="_blank" rel="nofollow">
                                <div class="card container-card-custom">
                                <img src="../../../assets/images/registros-imgs.svg" class="card-img-top px-4-rem py-2 img-hover" alt="REGISTROS">
                                <div class="card-body bg-inabve body-text-custom">
                                    <p class="card-text text-white text-center text-card-custom">REGISTROS</p>
                                </div>
                                </div>
                            </a>
                            </div>
                            <div class="col-md-4">
                            <a href="" class="text-decoration-none" target="_blank" rel="nofollow">
                                <div class="card container-card-custom">
                                <img src="../../../assets/images/cinabve-img.svg" class="card-img-top px-4-rem py-2 img-hover" alt="CINABVE">
                                <div class="card-body bg-inabve body-text-custom">
                                    <p class="card-text text-white text-center text-card-custom">CINABVE</p>
                                </div>
                                </div>
                            </a>
                            </div>
                            <div class="col-md-4 mt-4">
                            <a href="" class="text-decoration-none" target="_blank" rel="nofollow">
                                <div class="card container-card-custom">
                                <img src="../../../assets/images/becas-img.svg" class="card-img-top px-4-rem py-2 img-hover" alt="BECAS">
                                <div class="card-body bg-inabve body-text-custom">
                                    <p class="card-text text-white text-center text-card-custom">BECAS</p>
                                </div>
                                </div>
                            </a>
                            </div>
                            <div class="col-md-4 mt-4">
                                <a href="" class="text-decoration-none" target="_blank" rel="nofollow">
                                    <div class="card container-card-custom">
                                    <img src="../../../assets/images/creditos-img.svg" class="card-img-top px-4-rem py-2 img-hover" alt="créditos">
                                    <div class="card-body bg-inabve body-text-custom">
                                        <p class="card-text text-white text-center text-card-custom">CRÉDITOS</p>
                                    </div>
                                    </div>
                                </a>
                            </div> -->

                            <div class="col-md-4 mt-4" *ngFor="let item of AreasAtencion">
                                <a class="text-decoration-none" rel="nofollow" (ngModel)="item" (click)="guardarAreaAtencion(item)">
                                    <div class="card container-card-custom">
                                    <img src="../../../assets/images/creditos-img.svg" class="card-img-top px-4-rem py-2 img-hover" alt="créditos">
                                    <div class="card-body bg-inabve body-text-custom">
                                        <p class="card-text text-white text-center text-card-custom">{{ item.descripcion }}</p>
                                    </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        </div>
                    </div>
                <!-- </div> -->
                <div class="bg-inabve px-2 pt-1 pb-1">
                    <p class="text-white text-center py-2 mb-0"> © INABVE TICS • Todos los derechos reservados</p>
                </div>
            </div>
        </div>
    </section>
    <script src="../../../assets/js/bootstrap.bundle.min.js"></script>
</body>