.config-body {
	background-image: url("../.././../assets/images/bg-login.jpg");
	height: 91vh;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.b-example-divider {
    height: 3rem;
    background-color: rgba(0, 0, 0, 0.1);
    border: solid rgba(0, 0, 0, 0.15);
    border-width: 1px 0;
    box-shadow: inset 0 0.5em 1.5em rgba(0, 0, 0, 0.1),
      inset 0 0.125em 0.5em rgba(0, 0, 0, 0.15);
  }
  
  .form-control-dark {
    color: #fff;
    background-color: var(--bs-dark);
    border-color: var(--bs-gray);
  }
  .form-control-dark:focus {
    color: #fff;
    background-color: var(--bs-dark);
    border-color: #fff;
    box-shadow: 0 0 0 0.25rem rgba(255, 255, 255, 0.25);
  }
  
  .bi {
    vertical-align: -0.125em;
    fill: currentColor;
  }
  
  .text-small {
    font-size: 85%;
  }
  
  .text-white {
    color: #f5f5f5 !important;
  }
  
  .dropdown-toggle {
    outline: 0;
  }
  .bg-inabve {
    background-color: #111c4e !important;
  }
  .bg-gray-custom {
    background-color: #f5f5f5 !important;
  }
  
  .text-inabve {
    color: #111c4e !important;
  }
  
  .border-bottom-custom {
    border-bottom: 2px solid #111c4e !important;
  }
  .text-card-custom {
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 32px;
  }
  
  .body-text-custom {
    border-radius: 0px 0px 15px 15px !important;
  }
  .container-card-custom {
    background: #ffffff;
    border: 1px solid #f5f5f5;
    box-sizing: border-box;
    border-radius: 15px;
  }
  
  .px-4-rem {
    padding-left: 4rem;
    padding-right: 4rem;
  }
  .container-card-custom:hover {
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.085);
  }
  
  .img-hover:hover + .bg-inabve {
    background-color: #df8723 !important;
  }
  
  /* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: auto;
    scrollbar-color: #111c4e #e4e4e4;
  }
  
  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 10px;
  }
  
  *::-webkit-scrollbar-track {
    background: #e4e4e4;
  }
  
  *::-webkit-scrollbar-thumb {
    background-color: #111c4e;
    border-radius: 10px;
    /*border: 3px solid #ffffff;*/
  }
  
  
  @media (min-width: 1024px) {
    .offset-lg-3 {
      margin-left: 1%!important;
    }
    .col-lg-6 {
      width: 95%!important;
  }
  }
  @media (min-width: 1366px) {
    .offset-lg-3 {
      margin-left: 7% !important;
    }
    .col-lg-6 {
      width: 85%!important;
  }
  }
  @media (min-width: 1440px) {
    .offset-lg-3 {
      margin-left: 3%!important;
    }
    .col-lg-6 {
      width: 92%!important;
    }
  }
  @media (min-width: 1920px) {
    .offset-lg-3 {
      margin-left: 14% !important;
    }
    .col-lg-6 {
      width: 71%!important;
  }
  }
  @media (min-width: 2560px) {
    .offset-lg-3 {
      margin-left: 25% !important;
    }
    .col-lg-6 {
      width: 50%!important;
  }
  }
  
  .bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }

  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }