<!-- <ion-header>
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>
    <ion-grid>
        <ion-row>
            <ion-col>
                <form>
                    <ion-img src="assets/imagenes/logo-sivetweb.png" class="ion-padding"></ion-img>
                 <ion-toolbar>
                        <ion-title size="large">Plataforma web del instituto INABVE</ion-title>
                        <br>
                    </ion-toolbar>
                    <ion-item>

                        <ion-label position="floating">Usuario</ion-label>
                        <ion-input [(ngModel)]="userObj.user" type="text" required [ngModelOptions]="{standalone: true}"></ion-input>
                    </ion-item>
                    <ion-item lines="full">
                        <ion-label position="floating">Contraseña</ion-label>
                        <ion-input (keyup.enter)="authenticate()" [(ngModel)]="userObj.password" type="password" required  [ngModelOptions]="{standalone: true}"></ion-input>
                    </ion-item>
                    <br>
                    <ion-row>
                        <ion-col>
                            <ion-button type="submit" color="danger" expand="block" (click)="authenticate()">Ingresar</ion-button>
                        </ion-col>
                    </ion-row>
                </form>
            </ion-col>
        </ion-row>
    </ion-grid>
   </ion-content>