ion-grid{
    height: 100%;
}
ion-row{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

ion-label#ion-input-0-lbl {
    --highlight-color-focused: #e6e6e6;
}