<div class="login-body">
    <div class="login-panel p-fluid">
        <!-- <div  style="background-color: #111c4e; width: 15rem;height: 10rem;">
            <img src="assets/img/SIVETWEB.png">
        </div> -->
        <div class="login-panel-content" style="height: 100%;">
            <div class="p-grid">
                <div class="p-col-12" style="text-align: center;">
                    <div  style="background-color: #111c4e; border-radius: 2rem;">
                        <img src="assets/img/SIVETWEB.png" style="width: 15rem;height: 10rem;">
                    </div>
                    <br>
                    <h1>Plataforma web del instituto INABVE</h1>
                    <h2> Ventanilla de atencion a clientes </h2>
                </div>
                <div class="p-col-12">
                    <span class="p-float-label">
                        <input [(ngModel)]="userObj.user" type="text" pInputText>
                        <label >Usuario</label>
                    </span>
                </div>
                <div class="p-col-12">
                    <span class="p-float-label">
                        <input (keyup.enter)="authenticate()" [(ngModel)]="userObj.password" type="password" pInputText>
                        <label >Contraseña</label>
                    </span>
                </div>
                <p-divider class="p-col-12"></p-divider>
                <!-- <div class="p-col-12">
                    <span class="p-float-label"><label>Areas de atencion</label></span>
                        <p-selectButton [options]="areas" [(ngModel)]="selectedAreas" optionLabel="descripcion" optionValue="id"></p-selectButton>
                </div>
                <div class="p-col-12">
                    <span class=""><label>Ventanilla / escritorio</label></span>
                </div>
                <div class="p-col-12">
                    <p-selectButton [options]="ventanillas" [(ngModel)]="ventanillaSelet" optionLabel="id" optionValue="id"></p-selectButton>
                </div>  -->              
                <div class="p-col-12" style="text-align: right">
                    <button pButton pRipple type="button" label="Ingresar" (click)="authenticate()" style="width: 100%;background-color: #111c4e;"></button>
                </div> 
            </div>
        </div>
    </div>
</div>
<p-dialog header="Seleccione Area y ventanilla" [(visible)]="display" [breakpoints]="{'960px': '75vw'}" [style]="{width: '50vw'}" 
    [draggable]="false" [resizable]="false">

    <p-dropdown placeholder="Seleccione area" optionLabel="descripcion" [showClear]="true" appendTo="body"></p-dropdown>
    <p-dropdown placeholder="Seleccione ventanilla" optionLabel="descripcion" [showClear]="true" appendTo="body"></p-dropdown>
    
    <ng-template pTemplate="footer">
        <p-button icon="pi pi-check" (click)="guardarVentanillaArea(6,idArea)" label="Ok" styleClass="p-button-text"></p-button>
    </ng-template>
</p-dialog>