
  .login-body .login-panel {
    width: 565px;
    height: 500px;
    background-color: #fafafa;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -282px;
    margin-top: -232px;
    padding: 0;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: 0 7px 8px -4px rgba(0, 0, 0, 0.2), 0 5px 22px 4px rgba(0, 0, 0, 0.12), 0 12px 17px 2px rgba(0, 0, 0, 0.14);
    -moz-box-shadow: 0 7px 8px -4px rgba(0, 0, 0, 0.2), 0 5px 22px 4px rgba(0, 0, 0, 0.12), 0 12px 17px 2px rgba(0, 0, 0, 0.14);
    box-shadow: 0 7px 8px -4px rgba(0, 0, 0, 0.2), 0 5px 22px 4px rgba(0, 0, 0, 0.12), 0 12px 17px 2px rgba(0, 0, 0, 0.14);
  }
  .login-body .login-panel .login-panel-header {
    text-align: center;
    vertical-align: middle;
    width: 108px;
    height: 108px;
    position: relative;
    top: -54px;
    left: 50%;
    margin-left: -54px;
    background: #fafafa;
    border: 10px solid #fafafa;
    border-radius: 50%;
  }
  .login-body .login-panel .login-panel-header img {
    width: 88px;
    height: 88px;
  }
  .login-body .login-panel .login-panel-content {
    padding: 12px 98px;
    position: relative;
    top: -54px;
  }
  .login-body .login-panel .login-panel-content h1 {
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1.3px;
    color: #616161;
    margin-top: 0;
    margin-bottom: 6px;
    text-align: center;
  }
  .login-body .login-panel .login-panel-content h2 {
    font-size: 16px;
    font-weight: normal;
    letter-spacing: 0.5px;
    color: #212121;
    margin-top: 0;
    margin-bottom: 1em;
    text-align: center;
  }