  ion-menu.ios ion-list-header {
    padding-left: 16px;
    padding-right: 16px;
  
    margin-bottom: 8px;
  }
  

// #content .iframe{
//     height: 90vh;
//     padding: 0;
// }
#content, .iframe{
  height: 100%;
}
.iframe{
  width: 95%;
}
#list-header{
    position: -webkit-sticky;
  position: sticky;
  top: 0;
}

ion-toggle {
  zoom: 0.7;
}
ion-toggle ion-icon{
  zoom: 0.8;
}

ion-card{
  background-color: white!important;
}

ion-card-title{
  color: black;
}