<ion-app [class.dark-theme]="dark">
  <button ion-button menuToggle>
    <ion-split-pane contentId="main-content">

      <ion-menu contentId="main-content">
        <ion-content scroll="false">
          <ion-list>
            <div id="list-header">
              <ion-list-header>
                Menu
                <!-- <ion-item class="ion-text-end">
                  <ion-toggle [(ngModel)]="dark" (ionChange)="cambiarTema(dark)"></ion-toggle>
                  <ion-icon [name]="icono"></ion-icon>
                </ion-item> -->

     
                <ion-toolbar>
                  <ion-buttons slot="end">
                    <ion-item >
                      <ion-label>{{ mensajeConexion }}</ion-label>
                      <div *ngIf="conexionServidorEstado; else elseBlock">
                        &nbsp;<ion-icon name="ellipse" style="color: #2ed36e"></ion-icon>
                      </div>
                      <ng-template #elseBlock>
                        <ion-item>
                          <ion-icon name="ellipse" style="color: #eb445a;"></ion-icon>
                        </ion-item>
                      </ng-template>
                    </ion-item>
                  </ion-buttons>
                </ion-toolbar>
              </ion-list-header>
            </div>
            
            <!-- <ion-menu-toggle>

              <ion-item detail="false">
               
              </ion-item>
            </ion-menu-toggle> -->
          </ion-list>
          <div id="content">
            <iframe class="iframe" id="the-iframe" [src]="url" frameborder="0"></iframe>
          </div>
        </ion-content>
      </ion-menu>

      <ion-router-outlet id="main-content"></ion-router-outlet>

    </ion-split-pane>
  </button>
</ion-app>