<ion-header>
  <ion-toolbar>
    <ion-title>Requerimientos</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="beneficios-listado"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-text color="dark">
    <h5>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Cupiditate sint porro corporis quod reprehenderit delectus</h5>
  </ion-text>

  <ion-list>
    <ion-item>
      <ion-label>dolor sit amet consectetur, a</ion-label>
      <ion-checkbox slot="start" [(ngModel)]="requerimiento1" (ionChange)="requerimientoCompletado()"></ion-checkbox>

    </ion-item>
    <ion-item>
      <ion-label>lit. Cupiditate sint porro corporis quod</ion-label>
      <ion-checkbox slot="start"></ion-checkbox>

    </ion-item>
    <ion-item>
      <ion-label>dolor sit amet consectetur, a</ion-label>
      <ion-checkbox slot="start"></ion-checkbox>

    </ion-item>
    <ion-item>
      <ion-label>lit. Cupiditate sint porro corporis quod</ion-label>
      <ion-checkbox slot="start"></ion-checkbox>

    </ion-item>
  </ion-list>
  
  <ion-button [disabled]="habilitarBtn" (click)="confirmarGenerarTicket()" class="ion-padding">
    <ion-icon name="checkmark-circle-outline"></ion-icon> &nbsp;&nbsp;
     Generar Ticket
    </ion-button>
</ion-content>
