    <div class="row">
    <!-- <div class="card tabs-item" style="background-color: #111c4e;"> -->
    <div class="card tabs-item">
        <p-tabView (onChange)="refrescar($event)">
            <!-- Pantalla de gestion de tikets -->
            <p-tabPanel header="Gestion ventanilla" >
                
                <p-table responsiveLayout="scroll" [value]="listaTickets" [scrollable]="true" scrollHeight="65vh">
                    <ng-template pTemplate="caption">
                        <div class="p-grid">
                            <div class="p-col-10">
                                <button pButton pRipple type="button" label="LLAMAR" class="p-button-info"></button>
                                <button pButton pRipple type="button" label="ATENDER" class="p-button-success" style="margin-left: 2%;"></button>
                            </div>
                            <div class="p-col-2">
                                <button pButton pRipple type="button" label="FINALIZAR" class="p-button-danger"></button>
                            </div>
                        </div>
                        <div class="p-grid" style="text-align: left;">
                            <div class="p-col-10"><h5>Lista de turnos sin respuesta</h5></div>
                            <div class="p-col-2" >
                            </div>
                        </div>
                    </ng-template>
                    <ng-template pTemplate="header">
                        <tr>
                            <th>Area</th>
                            <th>Codigo</th>
                            <th>Codigo veterano</th>
                            <th>Nombre veterano</th>
                            <th>Fecha Inicio</th>
                            <th>Estado</th>
                            <th>Accion</th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-ticket>
                        <tr>
                        <!-- <tr *ngFor="let ticktes of listaTickets"> -->
                            <td>{{ticket.area}}</td>
                            <td>{{ticket.codigo}}</td>
                            <td>{{ticket.carnet}}</td>
                            <td>{{ticket.nombreCompleto}}</td>
                            <td>{{ticket.creadoEn | date : 'dd-MM-yyyy HH:mm'}}</td>
                            <td>{{ticket.estado}}</td>
                            <td><p-button label="LLAMAR" icon="pi pi-check" iconPos="right" (click)="llamarSinRespuesta(ticket)"></p-button></td>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="summary">
                        <div class="flex align-items-center justify-content-between">
                            En total hay {{listaTickets ? listaTickets.length : 0 }} Tickets.
                        </div>
                    </ng-template>
                </p-table>  
            </p-tabPanel>
            
            <p-tabPanel header="Pagos">
                <div class="card-iframe" style="height: 90vh; max-height: 92vh;">
                    <iframe #ifPagos id="ifPagos" [src]="urlPagos" width="100%" height="100%"></iframe>
                </div>
            </p-tabPanel>
            <p-tabPanel header="Becas">
                <div class="card-iframe" style="height: 90vh; max-height: 92vh;">
                    <iframe #ifBecas id="ifBecas" [src]="urlBecas" width="100%" height="100%"></iframe>
                </div>
            </p-tabPanel>
            <p-tabPanel header="Creditos">
                <div class="card-iframe" style="height: 90vh; max-height: 92vh;">
                    <iframe #ifCreditos id="ifCreditos" [src]="urlCreditos" width="100%" height="100%"></iframe>
                </div>
            </p-tabPanel>
        </p-tabView>
    </div>
</div><hr>

