<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Turnero</ion-title>
  </ion-toolbar>
</ion-header>

  <ion-content>   
    <app-beneficios-listado></app-beneficios-listado>
  </ion-content>