<div class="container">
    <div class="body d-md-flex align-items-center justify-content-between">
        <div class="box-1 mt-md-0 mt-5"> <img src="https://images.pexels.com/photos/2033997/pexels-photo-2033997.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500" class="" alt=""> </div>
        <div class=" box-2 d-flex flex-column h-100">
            <div class="mt-5">
                <p class="mb-1 h-1">Ingrese su usuario.</p>
                <div class="d-flex flex-column ">
                    <div class="d-flex align-items-center"> 
                        <input type="text" name="txt-usuario-tecnico" id="txt-usuario-tecnico">
                    </div>
                    <div class="d-flex align-items-center"> 
                        <input type="text" name="txt-contra-tecnico" id="txt-contra-tecnico">
                    </div>                        
                    <div>
                        <select name="slc-escritorio" id="slc-escritorio">
                            <option value="">seleccione una opcion</option>
                            <option value="1">Escritorio 1 - E1</option>
                            <option value="2">Escritorio 2 - E2</option>

                        </select>
                    </div>
                </div>
            </div>

        </div> <span class="fas fa-times"></span>
    </div>
</div>