<div class="layout-container layout-top-small"
    [ngClass]="{'layout-menu-horizontal': app.horizontal,
     'p-ripple-disabled': !app.ripple, 'p-input-filled': app.inputStyle === 'filled'}">

    <div class="container">
        <p-toolbar>
            <div class="p-toolbar-group-left">
            </div>
            
            <div class="p-toolbar-group-right">
                <p-splitButton label="Salir" [model]="itemBtn" styleClass="p-button-raised p-button-danger p-button-text mr-2 mb-2">
                </p-splitButton>            
            </div>
        </p-toolbar>
            <div class="p-grid" >
                
                <div class="p-col-3 p-md-3 p-lg-3 p-sm-3 " style="text-align: left;">
                    <div class="card tabs-item" style="background-color: #111c4e; height: 99vh;">
                        <iframe #ifRegistro id="ifRegistro" [src]="urlRegistro" frameborder="0" width="100%" style="height: 96vh;"></iframe>
                    </div>
                </div>
                <div class="p-col-9 p-md-9 p-lg-9 p-sm-9 dash-contenedor">
                    <div class="p-grig" style="padding-right: 1%;">
                        <app-dashboard-atencion></app-dashboard-atencion>
                    </div>
                </div>
            </div>
    </div>    
</div>
<p-dialog header="Seleccione Area y ventanilla" [(visible)]="display" [breakpoints]="{'960px': '75vw'}" [style]="{width: '50vw'}" 
    [draggable]="false" [resizable]="false">
    <div class="p-grid">
        <p-dropdown [options]="codigoArea" 
        [(ngModel)]="idAreaSelect" 
        placeholder="Seleccione area" optionLabel="descripcion" 
        [showClear]="true" appendTo="body" 
        (ngModelChange)="actualizarDpVentanillas( $event )" 
        class="p-col-4"></p-dropdown>
        <p-dropdown [options]="lsVentanillas" 
        [(ngModel)]="idVentanilla" optionLabel="descripcion"
         placeholder="Seleccione escritorio" 
         [showClear]="true" appendTo="body"
         class="p-col-4"></p-dropdown>
        
    </div>
    
    <ng-template pTemplate="footer">
        <p-button icon="pi pi-check" (click)="guardarVentanillaArea(idVentanilla, idAreaSelect)" label="Ok" styleClass="p-button-text"></p-button>
    </ng-template>
</p-dialog>