<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Beneficios</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-card  class="ion-padding" style="height: 100%;" (click)="cargarBeneficioDetalle()">
          <img src="assets/imagenes/icono-card-becas.svg" style="height: 75%;"/>
          <ion-card-header>
            <ion-card-title>Becas</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card class="ion-padding" style="height: 100%;" (click)="cargarBeneficioDetalle()">
          <img src="assets/imagenes/icono-card-creditos.svg" style="height: 75%;"/>
          <ion-card-header>
            <ion-card-title>Creditos</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
    <p></p>
    <ion-row>
      <ion-col>
        <ion-card class="ion-padding" style="height: 100%;" (click)="cargarBeneficioDetalle()">
          <img src="assets/imagenes/icono-card-salud.svg" style="height: 75%;"/>
          <ion-card-header>
            <ion-card-title>Salud</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card class="ion-padding" style="height: 100%;" (click)="cargarBeneficioDetalle()">
          <img src="assets/imagenes/icono-card-otro.svg" style="height: 75%;"/>
          <ion-card-header>
            <ion-card-title>Otros</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
