<ion-header>
  <ion-toolbar>
    <ion-title>Ticket</ion-title>
    <ion-buttons slot="start">
      <ion-icon name="arrow-back-outline" (click)="regresarInicio()"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Ticket</ion-card-title>
    </ion-card-header>
    <ion-card-content  class="align-center">
      <ion-title size="large">BEC - 001</ion-title>
      <br>
      <ion-text class="dark-text">
        <p> <b> Nombre: {{ usuario.nombre }} {{ usuario.apellido }} </b></p>
      </ion-text>
      <ion-card-content>
         Fecha: {{imprimirFechaActual().date + " " + imprimirFechaActual().time}}
      </ion-card-content>
    </ion-card-content>
  </ion-card>
  <ion-button (click)="imprimirTicker()" class="ion-padding">
    <ion-icon class="icono-boton-imprimir" name="print-outline"></ion-icon> &nbsp;&nbsp;
     Imprimir Ticket
    </ion-button>
</ion-content>
