<!-- <div class="layout-topbar"> -->

    <!-- <a href="#" class="layout-menubutton" [ngClass]="{'layout-menubutton-active': app.menuActive}" (click)="app.onMenuButtonClick($event)">
        <div class="layout-menubutton-icon"></div>
    </a> -->
<!-- 
    <div class="layout-topbar-grid">
      
        <div  style="color: white!important;margin-bottom: 0;">
            <a href="#" class="layout-logo" > 
                <img style="width: 15rem;height: 6rem;" src="assets/img/SIVETWEB.png" alt="sapphire-layout" />
            </a>
        </div>

        <div class="layout-topbar-grid-column">
            <app-menu></app-menu>
        </div> 
    </div> -->

<!-- </div> -->
