<!-- Vertically centered modal -->

<!-- <p-dialog header="Title" [(visible)]="display" [modal]="true" >
  Content
</p-dialog> -->
<div class="container-fluid">
  <div class="row">
    <nav class="nav">
    
      <div class="justify-content-end">
        <button (click)="cerrar()" class="btn btn-info"> cerrar </button>
      </div>

    </nav>
  </div>

  <div class="row">
    <div class="col-8 sinpadding" *ngIf="!showInDisplay">
      <iframe *ngIf="!display" style="width: 100%; height: 100%; margin: 0;"  src="https://www.youtube-nocookie.com/embed/Y-FkIq5u9kA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>   
    </div>  
    <!-- style="background-color: #3c4557;" -->
    <div class="col-8 sinpadding" *ngIf="showInDisplay" [ngStyle]="{'background-color':blinkTurno? '#a7acb1' : '#d3d6d8'}" style="border: solid 1px black" >
      <div  style="margin-top: 30%;">
        <div class="sidebarGroup" >
          <div class="fw-bold turnoTittle" id="btn_turno" >
            {{ticketModel.nombreCompleto}}
            <br>
            {{ticketModel.codigo}}
            <br>
            VENTANILLA - {{ticketModel.escritorio}}
          </div>
          <!-- <div class="fw-bold escritorioTittle"> VENTANILLA - {{ticketModel.escritorio}} </div> -->
        </div>
      </div>
    </div>
    <div class="col-4 sidebar">
      <div *ngFor="let item of listaTickets" class="grupolista">
        <div class="sidebarGroup" >
          <div class="fw-bold turnoTittle" (click)="llamada( item )" id="btn_turno">
            {{ item.codigo }}
          </div>
          <div class="fw-bold escritorioTittle"> VENTANILLA - {{ item.escritorio }} </div>
        </div>
        <hr>
      </div>
    </div>
  </div>
</div> 



